* {
    box-sizing: border-box;
  }
  .container {
    margin: 1rem;
    padding: 0;
    text-align: center;
    background-color: blue;
    color:bisque;
    display: flex;
    flex-direction: column;
    width: 100%;
    height:100%;
      
  }
  
  body {
    margin: 0;
  }
  .site-title {
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    
  }
  .nav {
    background-color: #111;
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;
  }
  .nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  
  .nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
  } 

  .nav li.active {
    background-color: #555;
  }
  
  .nav li:hover {
    background-color: #777;
  }


  img {
    background-size: auto;
   
  }
  .row {
    display: flex;
    flex-flow: row-wrap;
    max-width: 75rem;
    margin-right: auto;
    margin-left: auto;
    border: solid blue;


  }
  .column {
    display: flex;
    flex-flow: row-wrap;
    max-width: 75rem;
    margin-right: auto;
    margin-left: auto;
    border: solid blue;
  }

